<!-- Start Header Area -->
<app-header (searchQueryChange)="onSearchChange($event)"></app-header>

<!-- End Header Area -->
<app-banner-area></app-banner-area>
<!-- Start Banner Area -->


<!-- End Banner Area -->
<div class="container mb-5">
	<div class="row">

		<div class="container">
			<!-- Start Filter Bar -->
			<div class="filter-bar d-flex flex-wrap align-items-center">
				<div class="sorting ">
					<select class="form-control" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange($event)">
					   <option value="" >All Categories</option>
					   <option *ngFor="let category of categoryList" [value]="category.id">{{ category.name }}</option>
					</select>
				 </div>
				 
				<div class="sorting">
					<select class="form-control" [(ngModel)]="sorting" (change)="onSortingChange($event)">
						<option value="">Default sorting</option>
						<option value="price_asc">Price: Low to High</option>
						<option value="price_desc">Price: High to Low</option>
					</select>
				</div>


				<div class="sorting ml-auto">
					<select class="form-control" [(ngModel)]="size" (change)="onPageSizeChange($event)">
						<option *ngFor="let pageSize of pageSizes" [value]="pageSize">
							Show {{ pageSize }}
						</option>
					</select>
				</div>

			</div>
			<!-- End Filter Bar -->
			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list">
				<div class="row" >
					<div class="col-4" *ngFor="let product of list">
						<div class="single-product">
							<img class="img-fluid" [src]="product.img" alt="">
							<div class="product-details">
								<h6>{{ product.name }}</h6>
								<div class="price">
									<h6>{{ product.price | currency }}</h6>
									<h6 class="l-through">{{ product.price | currency }}</h6>
								</div>
								<div class="prd-bottom">
									<a href="" class="social-info" (click)="addCart(product.id, 1)">
										<span class="ti-bag"></span>
										<p class="hover-text">Add to cart</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Best Seller -->

			<!-- Start Filter Bar -->
			<!-- Pagination Controls -->
			<div class="filter-bar d-flex flex-wrap align-items-center" >
				<nav aria-label="Page navigation" >
					<ul class="pagination" >
					  <!-- Previous Button -->
					  <li class="page-item" [class.disabled]="index === 1" >
						<a class="page-link" (click)="onPageChange(index - 1)">Previous</a>
					  </li>
					  <!-- Page Numbers -->
					  <li *ngFor="let page of getPages()" class="page-item" [class.active]="index === page">
						<a class="page-link" *ngIf="page !== -1" (click)="onPageChange(page)">{{ page }}</a>
						<span *ngIf="page === -1" class="page-link">...</span>
					  </li>
					  <!-- Next Button -->
					  <li class="page-item" [class.disabled]="index === totalPages">
						<a class="page-link" (click)="onPageChange(index + 1)">Next</a>
					  </li>
					</ul>
				  </nav>

			</div>


			<!-- End Filter Bar -->
		</div>
	</div>
</div>



<app-footer></app-footer>