
   <!-- Start Header Area -->
<app-header></app-header>
<!-- End Header Area -->
<app-banner-area></app-banner-area>
<!-- Start Banner Area -->

   <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
           
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="first" [(ngModel)]="firstName" name="firstName" required placeholder="First name">
                                <!-- <span class="placeholder" data-placeholder="First name"></span> -->
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" [(ngModel)]="lastName" name="lastName" required placeholder="Last Name">
                                <!-- <span class="placeholder" data-placeholder="Last name"></span> -->
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="number" [(ngModel)]="phone" name="phone" required placeholder="Phone Number">
                                <!-- <span class="placeholder" data-placeholder="Phone number"></span> -->
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" [(ngModel)]="address" name="address" required placeholder="Address">
                                <!-- <span class="placeholder" data-placeholder="Address"></span> -->
                            </div>
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" [(ngModel)]="orderNotes" name="orderNotes" id="message" rows="1" placeholder="Order Notes"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li *ngFor="let item of cartItems">
                                    <a href="#">
                                      {{ item.productName }} <span class="middle">x {{ item.quantity }}</span>
                                      <span class="last">${{ item.price * item.quantity }}</span>
                                    </a>
                                  </li>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>${{ subtotal }}</span></a></li>
                                <li><a href="#">Shipping <span>Flat rate: ${{ shippingCost }}</span></a></li>
                                <li><a href="#">Total <span>${{ total }}</span></a></li>
                            </ul>
                            <!-- <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">Check payments</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div> -->
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">VNPAY </label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>Pay via VNPAY, you can pay with your credit card if you don’t have a VNPAY
                                    account.</p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <a class="primary-btn" href="#" (click)="checkOut()">Proceed to VNPAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
     <app-footer></app-footer>
